:root {
  --main-bg: #f1f5f9;
  --primary-bg: #eeeeee;
}
@keyframes up {
  0% {
  }
  25% {
    transform: translateY(-30%);
  }
  50% {
  }
  75% {
    transform: translateY(30%);
  }
  100% {
  }
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
ul {
  list-style: none;
}
a:hover,
a {
  text-decoration: none;
  color: inherit;
}
.btn:focus {
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-bg);
  border-radius: 3px;
}
main .side-b {
  z-index: 1000;
}
.side-b .side-h {
  font-size: 8px;
}
@media (min-width: 768px) {
  .side-b {
    min-width: 16%;
    max-width: 17%;
  }
  .side-b .side-h {
    position: relative;
    font-size: 25px;
  }
  .side-b .side-h::before,
  .side-b .side-h::after {
    position: absolute;
    content: "";
    background-color: black;
    left: 50%;
    transform: translate(-50%);
  }
  .side-b .side-h::before {
    width: 65px;
    height: 2px;
    bottom: 18px;
  }
  .side-b .side-h::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 10px;
    border: 5px solid white;
  }
}
main .side-b h6 {
  top: calc(100vh - 70px);
}
main .side-b ul li a {
  width: 100%;
}
main .side-b ul li:hover {
  background-color: var(--primary-bg);
  transition: 0.35s;
}
main .navbar {
  z-index: 999;
}
main .navbar .search::placeholder {
  color: #ccc;
}
main .navbar .search:focus::placeholder {
  opacity: 0;
}
main .navbar .search:focus {
  outline: none;
  width: 250px;
}
main .navbar .search {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 200px;
  transition: width 0.3s;
}
main .navbar form::before {
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  position: absolute;
  font-weight: 900;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ccc;
}
main .navbar img {
  width: 35px;
}
/* navbar & sidebar */
main section {
  background-color: var(--main-bg);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0px;
  bottom: -10px;
  border-radius: 10px;
}
.main-title::before {
  width: 120px;
  background-color: white;
}
.main-title::after {
  width: 50px;
  background-color: black;
}
section.plans .card-head span {
  font-size: 40px;
}
section.files img {
  width: 100px;
  height: 100px;
}
section.files .row .row .d-flex span {
  font-size: 12px;
}
section.files .row .row .bg-white:hover img {
  transform: rotate(7deg) scale(1.1);
  transition: 0.35s;
}
section.files .btn:hover i {
  animation: up 0.7s infinite ease-in-out;
}
section.friends i.fa-solid {
  background-color: #ccc;
  transition: 0.35s;
}
section.friends i.fa-solid:hover {
  background-color: #0d6efd;
  color: white;
}
section.friends img {
  width: 130px;
  height: 130px;
}
section.courses img.rounded-circle {
  width: 70px;
  height: 70px;
}
section.courses .btn {
  transform: translateY(27px);
  transition: 0.35s;
}
section.courses .btn:hover {
  color: #0d6efd;
  background-color: white;
}
section.courses .row h5 {
  letter-spacing: 0px;
  font-size: 18px;
}
section.projects span.float-end {
  transform: translateY(-19px);
}
section.projects img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
section.projects img:first-of-type {
  z-index: 10;
}
section.projects img:nth-of-type(2) {
  z-index: 20;
  transform: translateX(60%);
}
section.projects img:nth-of-type(3) {
  z-index: 30;
  transform: translateX(120%);
}
section.projects img:nth-of-type(4) {
  z-index: 40;
  transform: translateX(180%);
}
section.projects img:nth-of-type(5) {
  z-index: 50;
  transform: translateX(240%);
}
section.projects img:hover {
  z-index: 100;
}
section.portfolio .btn,
section.projects .btn {
  font-size: 14px;
  transition: 0.35s;
}
section.portfolio .btn:hover,
section.projects .btn:hover {
  background-color: white;
  color: #5c636a;
}
section.portfolio div.second,
section.projects div.bg-secondary {
  height: 7px;
}
section.portfolio .col-lg-4 img {
  width: 120px;
}
section.portfolio #btn-pro {
  transform: scale(0.5);
  width: 130px;
  transition: 0.5s;
  height: 50px;
}
section.portfolio #btn-pro i {
  font-size: 30px;
  margin: 5px;
  transition: 0.5s;
}
.pro-toggler {
  transform: translateX(74px);
}
section.portfolio .row .row:hover {
  transition: 0.35s;
  background-color: #eee;
}
section.portfolio .col-lg-8 img {
  width: 70px;
}
